{
  "swagger": "2.0",
  "info": {
    "title": "NEU NAT Proxy",
    "description": "Calls the North Europe customer-controlled Container Apps proxy. The proxy performs outbound calls through the North Europe NAT Gateway.",
    "version": "1.0.0"
  },
  "host": "ppnatgw-proxy.yellowmeadow-5cf2ecd6.northeurope.azurecontainerapps.io",
  "basePath": "/",
  "schemes": ["https"],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/proxy/all": {
      "get": {
        "summary": "Run both NAT proof checks",
        "description": "Calls api.ipify.org and checkip.amazonaws.com from the North Europe proxy subnet and returns the destination-observed source IPs.",
        "operationId": "GetAllProxyProofs",
        "responses": {
          "200": {
            "description": "Proxy NAT proof result",
            "schema": { "type": "object" }
          }
        }
      }
    },
    "/proxy/ipify": {
      "get": {
        "summary": "Run ipify NAT proof",
        "description": "Calls api.ipify.org from the North Europe proxy subnet.",
        "operationId": "GetIpifyProxyProof",
        "responses": {
          "200": {
            "description": "ipify proxy proof result",
            "schema": { "type": "object" }
          }
        }
      }
    },
    "/proxy/aws-checkip": {
      "get": {
        "summary": "Run AWS checkip NAT proof",
        "description": "Calls checkip.amazonaws.com from the North Europe proxy subnet.",
        "operationId": "GetAwsCheckIpProxyProof",
        "responses": {
          "200": {
            "description": "AWS checkip proxy proof result",
            "schema": { "type": "object" }
          }
        }
      }
    }
  }
}
